@charset "UTF-8";
body {
  font-family: futura-pt, '游ゴシック体', 'Yu Gothic', YuGothic, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

.container {
  width: 80%;
  margin: 10% auto;
}

.header {
  width: 80%;
  height: auto;
  padding: 0 10%;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: space-between;
  z-index: 99;
}

.header .header__logo {
  width: 100px;
  margin: 10px 0;
}

.header .header__logo img {
  width: 100%;
}

.header .header__gnav {
  position: absolute;
  right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__gnav .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 100%;
}

.header .header__gnav .header__nav--item {
  margin: 0 20px;
}

.header .header__gnav .header__nav--item a {
  text-decoration: none;
  color: #000;
}

.header .header__gnav .header__sns {
  margin: 0 10px;
}

.header .header__gnav .header__sns a {
  text-decoration: none;
  color: #000;
}

.top_main {
  width: 100%;
  height: 70vh;
  position: relative;
}

.top_main .main__text {
  width: 50%;
  position: absolute;
  top: 45%;
  left: 0;
  z-index: 10;
}

.top_main .main__text .main__title {
  width: 100%;
  margin: 0;
  font-size: 3rem;
  font-weight: 600;
  height: 120px;
  position: relative;
  overflow: hidden;
}

.top_main .main__text .main__title span {
  position: absolute;
}

.top_main .main__text .main__sub {
  font-size: 1rem;
  font-weight: bold;
  height: 30px;
  position: relative;
  overflow: hidden;
}

.top_main .main__text .main__sub span {
  position: absolute;
}

.top_main .main__image {
  width: 80%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}

.top_main .main__image img {
  width: 100%;
  height: auto;
}

.top_news {
  width: 100%;
  margin: 20% 0;
  position: relative;
}

.top_news .topnews__title {
  font-size: 2rem;
  font-weight: 600;
}

.top_news .topnews__view {
  position: absolute;
  top: 5px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.top_news .topnews__view:hover .left {
  -webkit-transform: translateX(10px) skew(50deg);
          transform: translateX(10px) skew(50deg);
}

.top_news .topnews__view .topnews__more {
  color: #000;
}

.top_news .topnews__view .left {
  width: 40px;
  height: 8px;
  border-bottom: 1px solid #505050;
  border-right: 1px solid #505050;
  -webkit-transform: skew(50deg);
          transform: skew(50deg);
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.top_news .topnews__news {
  width: 100%;
  height: auto;
}

.top_news .topnews__news .topnews__list {
  padding: 0;
}

.top_news .topnews__news .topnews__list .topnews__item {
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.top_news .topnews__news .topnews__list .topnews__item .topnews__date {
  width: 20%;
  margin-right: 10% 0;
  font-size: 1.3rem;
  font-weight: 400;
  color: #dadada;
}

.top_news .topnews__news .topnews__list .topnews__item .topnews__text {
  width: 70%;
  font-size: 1.3rem;
  font-weight: 600;
}

.top_work {
  width: 100%;
  margin: 20% 0;
  position: relative;
}

.top_work .topwork__title {
  font-size: 2rem;
  font-weight: 600;
  margin: 10px 0;
}

.top_work .topwork__view {
  position: absolute;
  top: 5px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.top_work .topwork__view:hover .left {
  -webkit-transform: translateX(10px) skew(50deg);
          transform: translateX(10px) skew(50deg);
}

.top_work .topwork__view .topwork__more {
  color: #000;
}

.top_work .left {
  width: 40px;
  height: 8px;
  border-bottom: 1px solid #505050;
  border-right: 1px solid #505050;
  -webkit-transform: skew(50deg);
          transform: skew(50deg);
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.top_work .topwork__list {
  width: 105%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transform: translateX(-1%);
          transform: translateX(-1%);
}

.top_work .topwork__list .topwork__item {
  width: 23%;
  height: 23%;
  margin: 1%;
  overflow: hidden;
  position: relative;
}

.top_work .topwork__list .topwork__item--img {
  width: 100%;
  height: 100%;
}

.top_work .topwork__list .topwork__item--text {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 1.5rem;
  font-weight: 600;
}

.top_about {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.top_about .topabout__left {
  width: 26%;
  margin: auto 0;
  padding: 0 2%;
  text-align: end;
}

.top_about .topabout__left .topabout__title {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
}

.top_about .topabout__left .topabout__sub {
  font-size: 1.3rem;
  color: #dadada;
}

.top_about .topabout__right {
  width: 50%;
  margin: 0 auto;
}

.top_about .topabout__right .topabout__text {
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
}

.top_about .topabout__view {
  position: absolute;
  bottom: -100px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.top_about .topabout__view:hover .left {
  -webkit-transform: translateX(10px) skew(50deg);
          transform: translateX(10px) skew(50deg);
}

.top_about .topabout__view .topabout__more {
  color: #000;
}

.top_about .left {
  width: 40px;
  height: 8px;
  border-bottom: 1px solid #505050;
  border-right: 1px solid #505050;
  -webkit-transform: skew(50deg);
          transform: skew(50deg);
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.footer {
  width: 100%;
  margin-top: 20%;
}

.footer .footer__text {
  width: 80%;
  margin: auto;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

body {
  position: relative;
}

#stalker {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  pointer-events: none;
  -webkit-transition: -webkit-transform 0.1s ease;
  transition: -webkit-transform 0.1s ease;
  transition: transform 0.1s ease;
  transition: transform 0.1s ease, -webkit-transform 0.1s ease;
}

#stalker .stalker__pointer {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 100%;
  background: rgba(204, 204, 204, 0.5);
  position: absolute;
  top: -8px;
  left: -8px;
  width: 16px;
  height: 16px;
}

#stalker.active .stalker__pointer {
  background: rgba(255, 152, 0, 0.3);
  top: -16px;
  left: -16px;
  width: 32px;
  height: 32px;
}

/*1.フェードインアニメーションの指定*/
.scrollanime {
  opacity: 0;
}

/*一瞬表示されるのを防ぐ*/
.fadeInDown {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

/*2.上下の動きを指定*/
.updown {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

.downup {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

/*3.左右の動きを指定*/
.sect02 {
  overflow: hidden;
}

/*横スクロールバーを隠す*/
.slide-right {
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
}

.slide-left {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}

img {
  opacity: 0;
  -webkit-animation: appear-text 1s linear forwards;
          animation: appear-text 1s linear forwards;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.main__image:after {
  content: '';
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #fff;
  position: absolute;
  -webkit-animation: rev-img 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
          animation: rev-img 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes appear-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes rev-img {
  0% {
    left: 0%;
    width: 0%;
  }
  50% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0%;
  }
}

@keyframes rev-img {
  0% {
    left: 0%;
    width: 0%;
  }
  50% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0%;
  }
}
/*# sourceMappingURL=style.css.map */